html {
  height: 100%;
}

body {
  /*background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/094/856/original/812994.jpg?1693149606");*/
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  text-align: center;
  margin-top: 0;
  color: #202020;
  font-family: "Lora", serif;
  font-size: smaller;
}

footer a {
  text-decoration: none;
}

.container {
  font-family: "Martel Sans", sans-serif;
}

.weather-app {
  border: none;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 600px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(138, 138, 138, 0.274) 0%,
    #216aca4b 74.6%
  );
  margin-bottom: 5px;
}

.weather-app h1 {
  font-family: "Lora", serif;
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
  color: #34373b;
  margin: 0;
  margin-left: 20px;
  text-transform: capitalize;
}

.weather-app ul {
  padding: 0;
  margin: 8px;
  margin-bottom: 20px;
  color: #ffffff;
}

.weather-app li {
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.search-form {
  margin: 10px auto;
}

.weather-temperature {
  font-family: "Abril Fatface", cursive;
  font-size: 25px;
  color: #424547;
}
.unit {
  position: relative;
  bottom: 10px;
  font-size: x-small;
}

.col-6.right {
  margin-left: 28px;
}
.col-5.left {
  padding-left: 50px;
  padding-right: 0;
}

ul.current-weather {
  margin-left: 28px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
